<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block content %}
  <h2 style="margin-top:60px;">Sign up</h2>
  <form method="post">
    {% csrf_token %}
    <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autofocus required id="id_username"></p>
<p><label for="id_password1">Password:</label> <input type="password" name="password1" required id="id_password1"></p>
<p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" required id="id_password2"></p>
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
